* {
  padding: 0;
  marging: 0;
  box-sizing: border-box;
}

body {
  background: #34B2A4;
}

.main {
  background: #732954;
  width: 400px;
  height: 175px;
  margin: 100px auto;
  position: relative;
  padding: 30px;
}

.badge {
  width: 96px;
  background: #123D57;
  color: white;
  padding: 5px 10px;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 40%;
}

.clock {
  background: #EBEBEB;
  text-align: center;
  font-size: 55px;
  font-family: Helvetica;
  height: 100%;
  padding-top: 25px;
  border-radius: 4px;
}