.title {
  font-family: Helvetica;
  text-align: center;
}
.subtitle {
  font-style: italic;
  font-family: Arial;
  text-align: center;
}
img {
  height: 800px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: rgb(80, 200, 235);
}
p {
  font-family: Arial;
}
.description {
  text-align: center;
}